<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var questionTypes = /*[[${questionTypes}]]*/ 'default';
    /*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.1.1/vee-validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.1.1/locale/en.js"></script>
<div class="container">
    <h1 class="display-3">Contact us</h1>

    <div class="row">
        <div id="contents" class="col-md-auto">
            <form @submit.prevent="handleSubmit">
                <div class="form-group">
                    <label>Kind of Request</label>
                    <select class="form-control"
                            name="question type"
                            v-model="selected"
                            v-validate="{required: true}"
                            aria-describedby="questionTypeValidator">
                        <option disabled value="">Please select one</option>
                        <option v-for="type in questionTypesSelect">{{type}}</option>
                    </select>
                    <small id="questionTypeValidator" class="form-text text-muted redColored">{{ errors.first('question type') }}
                    </small>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control"
                           name="email"
                           v-validate="{ email: true, required: true }"
                           v-model="formData.email"
                           aria-describedby="emailValidator">
                    <small id="emailValidator" class="form-text text-muted redColored">{{ errors.first('email') }}
                    </small>
                </div>
                <div class="form-group">
                    <label>Policy Number</label>
                    <input class="form-control"
                           name="policy number"
                           v-model="formData.policyNumber"
                           v-validate="{ alpha_num: true}"
                           aria-describedby="policyNumberValidator">
                    <small id="policyNumberValidator" class="form-text text-muted redColored">{{ errors.first('policy number') }}
                    </small>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control"
                           name="name"
                           v-model="formData.firstName"
                           v-validate="{ alpha: true}"
                           aria-describedby="nameValidator">
                    <small id="nameValidator" class="form-text text-muted redColored">{{ errors.first('name') }}</small>
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input class="form-control"
                           name="surname"
                           v-model="formData.lastName"
                           v-validate="{ alpha: true}"
                           aria-describedby="nameValidator">
                    <small id="surnameValidator" class="form-text text-muted redColored">{{ errors.first('surname') }}
                    </small>
                </div>
                <div class="form-group">
                    <label>Your request</label>
                    <textarea class="form-control"
                              v-model="formData.requestText"
                              maxlength="500"></textarea>
                </div>
                <div class="alert alert-success" v-if="success">
                    <strong>Success!</strong> Request successfully acknowledged.
                </div>

                <div class="alert alert-warning" v-if="formArgumentsWarning">
                    <strong>Warning!</strong> There are errors in your request.
                </div>

                <div class="alert alert-danger" v-if="serverError">
                    <strong>Danger!</strong> An error occured while processing the request.
                </div>
                <button id="submitBtn" type="submit" class="btn btn-primary">SEND REQUEST</button>
            </form>
        </div>
    </div>
</div>
<script src="../../script/index.js"></script>
</body>
</html>